<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{TITLE}</title>
	<meta name="description" content="{DESCRIPTION}" />
	<meta name="keywords" content="{TITLE} - {DESCRIPTION}" />
	<meta name="author" content="" />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" href="{URL}/favicon.ico" />
	<link rel="stylesheet" href="{URL}/css/fonts.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{URL}/css/style.css" type="text/css" media="screen" />
	<!--[if IE]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<![endif]-->
	<link rel="stylesheet" href="{URL}/css/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="{URL}/css/desktop.css" type="text/css" media="screen and (min-width:1024px)" />
	<link rel="stylesheet" href="{URL}/css/mobile.css" type="text/css" media="screen and (max-width:1023px)" />
	<script type="text/javascript" src="{URL}/js/frontend.js"></script>
	</head>
	<body>
	<!--[if lte IE 7]>
	Outdated browser!
	<![endif]-->
	<header>
		<h1>{TITLE}</h1>
		{MENU}
	</header>
	
	<div id="content">
		{CONTENT}
	</div>
	
	<footer>
		{TITLE}
	</footer>
		
	</body>
</html>

